<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{page.shorttitle}}</h1>
        <p>{{page.tagline}}</p>
        <p class="view"><a href="/">Home</a> | <a href="/java_snippets.html">Java Snippets</a></p>
      </header>
      <section>{{content}}</section>
      <footer>
     <!--    <h3>Table of Contents:</h3>
        <div style="border-style: dashed; overflow-y: scroll; height: inherit">
        {% for post in site.posts %}
        {% if post.date != post.next.date %}{{post.date | date: "%Y-%m-%d"}}<ul>{% endif %}
          <li><a href="#{{post.date | date: "%Y-%m-%d"}}">{{post.title}}</a></li>
        {% if post.date != post.next.date %}</ul>{% endif %}
        {% endfor %}</div> -->
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p><small>Acknowledgments for the content itself omitted.</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>